* {
  box-sizing: border-box;
  margin: 0;
}
/* top */
#half-top {
  width: 100%;
  min-height: 48vh;
  background-color: #81ecec9c;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  #infor {
    height: 200px;
    width: 200px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #reading-stuff {
    margin: 0 auto;
  }
}

/* bot */
#half-bot {
  width: 100%;
  background-color: #fab0a07c;
  margin-top: 20px;
  min-height: 48vh;
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .answer-group {
    width: 400px;
    min-height: 200px;
    background-color: transparent;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    .id {
      width: 10%;
    }
    .question {
      width: 90%;
    }
    .answer {
      margin-left: 10%;
    }
  }
}
