* {
  box-sizing: border-box;
  margin: 0;
}

/* left */
#left {
  width: 50vw;
  min-height: 200px;
  background-color: lightcoral;
}

/* right */
#right {
  width: 50vw;
  min-height: 200px;
  background-color: lightgreen;
}

.box {
  min-height: 200px;
  background-color: lightseagreen;
  margin-bottom: 10px;
}
